/* Menu Style */
#extra-config {
    --text-color: var(--ytd-video-primary-info-renderer-title-color, var(--yt-spec-text-primary));
    --background-color: var(--ytd-searchbox-background);
    --background-secondary-color: var(--yt-live-chat-message-highlight-background-color);
    padding: 10px 10px;
    background-color: var(--background-color);
    margin-bottom: 10px;
    color: var(--text-color);
}

#extra-config .extra-config-header {
    display: flex;
    cursor: pointer;
}

#extra-config:not(.hide) .extra-config-header {
    margin-bottom: 1.5rem;
}


/* Menu title */
#extra-config .extra-config-header p {
    font-size: 2rem;
    display: inline;
    user-select: none;
}

/* item title */
#extra-config .menu-item {
    font-size: 1.5rem;
}

/* item spacing */
#extra-config .menu-item + .menu-item {
    margin-top: 10px;
}

/* hide/show options */
#extra-config.hide .menu-item {
    display: none;
}

#extra-config .expand-button {
    fill: var(--iron-icon-fill-color, currentcolor);
    stroke: var(--iron-icon-stroke-color, none);
    width: 24px;
    height: 24px;
    
    display: block;
    position: relative;
    margin-left: auto;
    transition: transform 0.2s ease-in-out;
}

#extra-config.hide .expand-button {
    transform: rotate(180deg);
}

/* Number input style*/
#extra-config input[type="number"] {
    background-color: var(--background-secondary-color);
    border: solid 2px #000000aa;
    color: var(--text-color);
}
