/* Menu Style */
#extra-config {
    --text-color: var(--ytd-video-primary-info-renderer-title-color, var(--yt-spec-text-primary));
    --background-color: var(--ytd-searchbox-background);
    --background-secondary-color: var(--yt-live-chat-message-highlight-background-color);
    padding: 10px 10px;
    background-color: var(--background-color);
    margin-bottom: 10px;
    color: var(--text-color);
}

#extra-config .extra-config-header {
    display: flex;
    cursor: pointer;
}

#extra-config:not(.hide) .extra-config-header {
    margin-bottom: 1.5rem;
}


/* Menu title */
#extra-config .extra-config-header p {
    font-size: 2rem;
    display: inline;
    user-select: none;
}

/* item title */
#extra-config .menu-item {
    font-size: 1.5rem;
}

/* item spacing */
#extra-config .menu-item + .menu-item {
    margin-top: 10px;
}

/* hide/show options */
#extra-config.hide .menu-item {
    display: none;
}

#extra-config .expand-button {
    fill: var(--iron-icon-fill-color, currentcolor);
    stroke: var(--iron-icon-stroke-color, none);
    width: 24px;
    height: 24px;
    
    display: block;
    position: relative;
    margin-left: auto;
    transition: transform 0.2s ease-in-out;
}

#extra-config.hide .expand-button {
    transform: rotate(180deg);
}

/* Number input style*/
#extra-config input[type="number"] {
    background-color: var(--background-secondary-color);
    border: solid 2px #000000aa;
    color: var(--text-color);
}













/* Test */
/* #panels {
    margin-bottom: 10px;
}

div#panels::before {
    content: "Extra config";
    font-size: 2rem;
    color: var(--ytd-video-primary-info-renderer-title-color, var(--yt-spec-text-primary));
    padding: 10px;
    background-color: var(--ytd-searchbox-background);
    display: block;
    width: inherit;

    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg class='style-scope yt-icon' display='block' pointer-events='none' style='height:100%25%3Bwidth:100%25' focusable='false' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='style-scope yt-icon'%3E%3Cpolygon class='style-scope yt-icon' points='18.4 14.6 12 8.3 5.6 14.6 6.4 15.4 12 9.7 17.6 15.4'/%3E%3C/g%3E%3C/svg%3E");
}

[dark="true"] div#panels::before {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg class='style-scope yt-icon' fill='%23fff' display='block' pointer-events='none' style='height:100%25%3Bwidth:100%25' focusable='false' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='style-scope yt-icon'%3E%3Cpolygon class='style-scope yt-icon' points='18.4 14.6 12 8.3 5.6 14.6 6.4 15.4 12 9.7 17.6 15.4'/%3E%3C/g%3E%3C/svg%3E");
}

/* hide/show options */
/* div#panels.hide::before {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg class='style-scope yt-icon' display='block' pointer-events='none' style='transform:rotate(180deg)%3Bheight:100%25%3Bwidth:100%25' focusable='false' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='style-scope yt-icon'%3E%3Cpolygon class='style-scope yt-icon' points='18.4 14.6 12 8.3 5.6 14.6 6.4 15.4 12 9.7 17.6 15.4'/%3E%3C/g%3E%3C/svg%3E");
}

[dark="true"] div#panels.hide::before {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg class='style-scope yt-icon' fill='%23fff' display='block' pointer-events='none' style='transform:rotate(180deg)%3Bheight:100%25%3Bwidth:100%25' focusable='false' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg class='style-scope yt-icon'%3E%3Cpolygon class='style-scope yt-icon' points='18.4 14.6 12 8.3 5.6 14.6 6.4 15.4 12 9.7 17.6 15.4'/%3E%3C/g%3E%3C/svg%3E");
} */
